:root {
    --primary-color: #FF6600;
    --secondary-color: #FFD814;
    --background-color: #F0F2F5;
    --second-background-color: #FFFFFF;
    --color-dark: #393F42;
    --color-light: #FFFFFF;
    --color-border: #939393;
    --color-btn-action: #C8CAD8;
    --font-family: 'Inter';
    --background-color-blur: #2d2d2d98;
}
* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.category {
    background-color: var(--primary-color);
}

.category ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.category li {
    height: 50px;
}

.category a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-light);
}

.category a:hover {
    /* background-color:#adadadd8 ; */
}

.category li:first-child {
    margin-right: auto;
}
.category .sideBar {
    padding: 0px;
    position: fixed;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 300px;
    z-index: 99;
    background-color: var(--second-background-color);
    /* backdrop-filter: blur(10px); */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.category .sideBar li {
    width: 100%;
}

.category .sideBar a {
    width: 100%;
    color: var(--color-dark);
}
.category .sideBar a:hover {
    background-color:#e0dcdc90 ;
}

#txtWelcom{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: var(--color-light);
}
.menu2 li a:hover{
    background-color: #cb5100;
};
@media(max-width: 600px){
    .category .sideBar{
        width: 100%;
    }
}
@media(max-width: 600px){
    .category .sideBar{
        width: 100%;
    }
}
