:root
{
    --primary-color:#FF6600;
    --secondary-color:#FFD814;
    --background-color:#F0F2F5;
    --second-background-color:#FFFFFF;
    --color-dark:#393F42;
    --color-light:#FFFFFF;
    --color-border:#939393;
    --color-btn-action:#C8CAD8;
    --font-family:'Inter';
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{
    background-color: var(--background-color);
}
.sticky-element {
    position: sticky;
    top: 0;
    z-index: 2;
}
.carousel-item img {
    width: 100%;
    height: 700px;
}

.feature-product .image img {
    width: 100%;
    height: 260px;
}

.add-business{
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}
.add-business .btn{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.btn button{
    padding: 8px;
    background-color: #FF6600;
    color: #ffffff;
    border: none;
}
.btn button:hover{
    background-color: #ec6205e6;
}
.footer{
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: #0C2654;
    justify-content: space-evenly;
}
.detail{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.detail span{
    font-weight: bold;
    font-size: 20px;
    color: #CFD8DC;
    padding-top: 2.2rem;
}
.detail a{
    text-decoration: none;
    color: gray;
}
.detail a:hover{
    color: #CFD8DC;
}
